<div class="row align-center mb-5">
<div class="product-card"> 
                <div class="product-image"> 
                    <img src="{{event.website_link}}" class="product-thumb" alt="">
                    <button class="card-btn">Add Ticket</button>
                </div>
                <div class="product-info">
                    <h5 class="card-title">{{event.show_time}} + ' / ' + {{event.show_date}}</h5>
                    <h5 class="card-title">{{event.title}}</h5>
                    <p class="card-title">{{event.description}}</p>
                </div>
            </div>