<div class="card ticket-info-card">
  <img class="card-img-top img-fluid" src="{{event.website_link}}" alt="Event image">
    <div class="card-body">
      <h5 class="card-title">{{ticket.events_name}} | {{format_date ticket.date}}</h5>
      <div class="card-text">{{ticket.location}} | {{format_time ticket.event_time}}</div>
  </div>
</div>